{% extends 'base.html' %}

{% block head %}
<title>Mathgarage - Basic Arithematic Operations</title>
{% endblock %}

{% block body %}

<div ng-app="basicArithematicOperations">
    <div class="container-fluid" ng-controller="BasicArithematicOperationsController">
        <div class="modal-body">
            <h3>Basic Arithematic Operations</h3>
            <form name="basicArithematicOperationsForm" novalidate>
                <span class="alert-danger">{{'{{errorMessage}}'}}</span>
                <div class = "row border justify-content-center align-items-center">
                    <div class = "row col-sm-12 justify-content-center align-items-center">
                        <h6 class = "text-primary text-center">Operation:    </h6>
                        <input id="radioAddition" name="optOperation" type="radio" ng-model="operation_request.operator" value="+"><span>Addition</span></input>
                        <input id="radioSubtraction" name="optOperation" type="radio" ng-model="operation_request.operator" value="-"><span>Subtraction</span></input>
                        <input id="radioMultiplication" name="optOperation" type="radio" ng-model="operation_request.operator" value="x"><span>Multiplication</span></input>
                        <input id="radioDivision" name="optOperation" type="radio" ng-model="operation_request.operator" value="/"><span>Division</span></input>
                    </div>
                </div>
                <div class = "row border justify-content-center align-items-center">
                    <div class="col-sm-2">
                        <h7>1st Number Lower Limit:</h7>
                        <input id="1NumberLowerLimit" class="form-control" type="number" ng-model="operation_request.first_number_lower_limit" required><br>
                    </div>
                    <div class="col-sm-2">
                        <h7>1st Number Upper Limit:</h7>
                        <input id="1NumberUpperLimit" class="form-control" type="number" ng-model="operation_request.first_number_upper_limit" required><br>
                    </div>
                    <div class="col-sm-2">
                            <h7>2nd Number Lower Limit:</h7>
                            <input id="2NumberLowerLimit" class="form-control" type="number" ng-model="operation_request.second_number_lower_limit" required><br>
                        </div>
                        <div class="col-sm-2">
                            <h7>2nd Number Upper Limit:</h7>
                            <input id="2NumberUpperLimit" class="form-control" type="number" ng-model="operation_request.second_number_upper_limit" required><br>
                        </div>
                        <div class="col-sm-2">
                            <h7>Number of questions:</h7>
                            <input id="numberOfQuestions" class="form-control" type="number" ng-model="operation_request.number_of_questions" required><br>
                        </div>
                    </div>

                <br>

                <div class = "row justify-content-center align-items-center">
                    <span class="col-sm-2"></span>
                    <input id="getBasicArithematicOperations" type="submit" value="Go" ng-click="getBasicArithematicOperations(operation_request, errorMessage)"/>
                    <span class="col-sm-2"></span>
                    <input id="reset" ng-disabled="!showResultSection" class="col-sm-3" type="submit" value="Reset" ng-click="reset()"/>
                    <span class="col-sm-2"></span>
                </div>

                <br>


            </form>

            <div id="resultsection" ng-show="showResultSection">
                <div class="col-sm-12">
                    <span class="alert-info">{{'{{userAnswerFeedback.message}}'}}</span>
                </div>
                <table class="table table-striped table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th>Question #</th>
                            <th>Number 1</th>
                            <th>Operator</th>
                            <th>Number 2</th>
                            <th></th>
                            <th>User Answer</th>
                            <th>System Answer</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(i,question) in operation.questions track by $index">
                            <th><span ng-class="{'bg-success': operation.questions[i].is_user_answer_correct}" class="form-control text-center text-muted">{{'{{i+1}}'}}</span>
                            <th><span class="form-control text-center text-primary">{{'{{operation.questions[i].first_number}}'}}</span>
                            <th><span class="form-control text-center text-primary">{{'{{operation.questions[i].operator}}'}}</span>
                            <th><span class="form-control text-center text-primary">{{'{{operation.questions[i].second_number}}'}}</span>
                            <th><span class="form-control text-center text-primary"> = </span>
                            <th><input ng-class="{'bg-warning': !operation.questions[i].is_user_answer_correct}" class="form-control text-center" type="text" ng-model="operation.questions[i].user_answer"></th>
                            <th><input class="form-control text-center" type="text" ng-model="operation.questions[i].answer" ng-show="showSystemAnswer" ng-disabled="1"></th>
                            </tr>
                    </tbody>
                </table>
                <div class = "row justify-content-center align-items-center">
                    <input id="submitAnswer" ng-disabled="showSystemAnswer" class="col-sm-3" type="submit" value="Submit Answer" ng-click="submitAnswer(operation, errorMessage)"/>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}