{% extends 'base.html' %}

{% block head %}
<title>Mathgarage - Login</title>
{% endblock %}

{% block body %}

<div ng-app="loginMathgarage">
    <div class="container-fluid" ng-controller="LoginController">
        <div class="modal-body">
            <h3>Login to Mathgarage</h3>
            <form name="loginForm" novalidate>
                <span class="alert-danger">{{'{{errorMessage}}'}}</span>
                <div class = "row border justify-content-center align-items-center">
                    <div class="col-sm-6">
                        <h6>Username:</h6>
                        <input id="inputUsername" class="form-control" type="text" ng-model="loginCredentials.username" placeholder="Username"  required><br>
                    </div>

                    <div class="col-sm-6">
                        <h6>Password:(<a id="forgotPassword" href="/forgot-password">Forgot Password?</a>)</h6>
                        <input id="inputPassword" class="form-control" type="password" ng-model="loginCredentials.password"  required><br>
                    </div>
                </div>
                <div class = "row justify-content-left align-items-left">
                    <p>Not registered yet? <a id="createAccount" href="/create-account-initial-load">Create Account</a> now.</p>
                </div>
                <div class = "row justify-content-center align-items-center">
                    <span class="col-sm-2"></span>
                    <input class="btn-primary" id="submitLoginCredentials" type="submit" value="Login" ng-click="login()"/>
                    <span class="col-sm-2"></span>
                    <input id="reset" class="col-sm-3" type="submit" value="Reset" ng-click="reset()"/>
                    <span class="col-sm-2"></span>
                </div>
                <br>
                
                <div ng-show="forgotPassword" class = "row border justify-content-center align-items-center">
                    <div class="col-sm-6">
                        <h6>Forgot Password Question:</h6>
                        <input id="forgotPasswordQuestion" class="form-control" type="text" ng-model="loginCredentials.forgot_password_question" ng-disabled=1><br>
                    </div>

                    <div class="col-sm-6">
                        <h6>Forgot Password Answer:</h6>
                        <input id="forgotPasswordAnswer" class="form-control" type="text" ng-model="loginCredentials.forgot_password_answer"  required><br>
                    </div>
                    <input class="btn-primary" id="submitForgotPasswordAnswer" type="submit" value="Get Password" ng-click="getPassword()"/>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}