{% extends 'base.html' %}

{% block head %}
<title>Mathgarage - Math Functions</title>
{% endblock %}

{% block body %}

<div ng-app="mathFunctions">
    <div class="container-fluid" ng-controller="MathFunctionsController">
        <div class="modal-body">
            <h3>Math Functions</h3>
            <form name="multiplicationFactsForm" novalidate>
                <span class="alert-danger">{{'{{errorMessage}}'}}</span>
                <div class = "row border justify-content-center align-items-center">
                    <div class="col-sm-4">
                        <h6>Decimal Number:</h6>
                        <input id="inputDecimalInput" class="form-control" type="number" ng-model="decimalInput" ng-init="decimalInput=13"  required>
                    </div>
                    <input type="submit" class="col-sm-4" value="Decimal to Binary" ng-click="getDecimalToBinary(decimalInput, errorMessage)"/>
                    <div class="col-sm-4">
                        <h6>Binary Number:</h6>
                        <input id="outputBinaryOuput" class="form-control" type="text" ng-model="binaryOutput">
                    </div>
                </div>
            </form>
            <br>
        </div>
    </div>
</div>

{% endblock %}