{% extends 'base.html' %}

{% block head %}
<title>Mathgarage - Multiplication Facts</title>
{% endblock %}

{% block body %}

<div ng-app="multiplicationFacts">
    <div class="container-fluid" ng-controller="MultiplicationFactsController">
        <div class="modal-body">
            <div class = "row">
                <h4 class="col-sm-8 align-items-left text-left">Multiplication Facts</h4>
                <h4 class="col-sm-4 align-items-right text-primary text-right">{{'{{username}}'}}</h4>
            </div>
            <form name="multiplicationFactsForm" novalidate>
                <span class="alert-danger">{{'{{errorMessage}}'}}</span>
                <div class = "row border justify-content-center align-items-center">
                    <div class="col-sm-6">
                        <h6>Multiplication Table Of:</h6>
                        <input id="inputTableof" class="form-control" type="number" ng-model="facts.request.tableof" ng-init="facts.request.tableof=131"  required><br>
                    </div>

                    <div class="col-sm-6">
                        <h6>Limit:</h6>
                        <input id="inputLimit" class="form-control" type="number" ng-model="facts.request.limit" ng-init="facts.request.limit=50" required><br>
                    </div>
                    
                </div>

                <span ng-show="countdownMessage" class="col-sm-12 alert-warning">{{'{{countdownMessage}}'}}</span><br>

                <div class = "row justify-content-center align-items-center">
                    <span class="col-sm-2"></span>
                    <input class="btn-primary" id="getMultiplicationFacts" type="submit" value="Get Multiplication Facts" ng-click="generateMultiplicationFacts()"/>
                    <span class="col-sm-2"></span>
                    <input id="reset" ng-disabled="!showSystemAnswer" class="col-sm-3" type="submit" value="Reset" ng-click="reset()"/>
                    <span class="col-sm-2"></span>
                </div>

                <br>


            </form>

            <div id="resultsection" ng-show="showSystemAnswer">
                <span class="alert-success">{{'{{facts.message}}'}}</span>
                <table class="table table-striped table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th>Factor</th>
                            <th>Multiple</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(i,item) in facts.result track by $index">
                            <div class="col-sm-3">
                                <th>{{'{{i+1 | number}}'}}</span>
                            </div>
                            <div class="col-sm-9">
                                <th>{{'{{facts.result[i] | number}}'}}</th>
                            </div>
                        </tr>
                    </tbody class="thead-light">
                </table>
                <br>
                <div class = "row justify-content-center align-items-center">
                    <span class="text-primary text-right">Datastore Record Locator:{{'{{facts.datastore_id}}'}}</span>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}