{% extends 'base.html' %}

{% block head %}
<title>Mathgarage - Math Functions</title>
{% endblock %}

{% block body %}

<!-- <div ng-app="numberWiki"> -->
<div>
    <div class="container-fluid" ng-controller="NumberWikiController">
        <div class="modal-body">
            <h3>Number Wiki</h3>
            <form name="numberWikiForm" novalidate>
                <span class="alert-danger">{{'{{errorMessage}}'}}</span>
                <div class = "row col-sm-12 border justify-content-center align-items-center">
                    <h6 class = "col-sm-2 text-primary text-left">Input:</h6>
                    <span class = "col-sm-1"></span>
                    <input id="numberInput" class = "col-sm-3 text-primary text-right" type="number" ng-model="n" ng-init="n=24"  required>
                    <span class = "col-sm-1"></span>
                    <input id="go" type="submit" class = "col-sm-2" value="Go" ng-click="getNumberWikiData()"/>
                    <span class = "col-sm-1"></span>
                    <input id="reset" class="col-sm-2" ng-disabled="!showSystemAnswer" type="submit" value="Reset" ng-click="reset()"/>
                </div>
                <span class="col-sm-12 alert-info">{{'{{userMessage}}'}}</span><br>
                <span ng-show="countdownMessage" class="col-sm-12 alert-warning">{{'{{countdownMessage}}'}}</span><br>
                <span class = "col-sm-12"></span>
            </form>
            <div ng-show="showSystemAnswer" class = "row border justify-content-center align-items-center">
                <div class="col-sm-12">
                    <h6>Number Wiki Results:</h6>
                </div>

                <table class="table">
                    <tbody>
                        <tr ng-repeat="(i,wiki_item) in number.wiki_list track by $index">
                            <div class="col-sm-3">
                                <th><span class="form-control text-left text-primary">{{'{{number.wiki_list[i].key}}'}}</span>
                            </div>
                            <div class="col-sm-9">
                                <th><input class="form-control text-left text-primary" type="text" ng-model="number.wiki_list[i].value" ng-disabled="1"></th>
                            </div>
                        </tr>
                    </tbody class="thead-light">
                </table>
                <br>
                <div class = "row justify-content-center align-items-center">
                    <span class="text-primary text-right">Datastore Record Locator:{{'{{number.datastore_id}}'}}</span>
                </div>
            </div> 
        </div>
    </div>
</div>

{% endblock %}