{% extends 'base.html' %}

{% block head %}
<title>Mathgarage - Math Functions</title>
{% endblock %}

{% block body %}

<div ng-app="numberWiki">
    <div class="container-fluid" ng-controller="NumberWikiController">
        <div class="modal-body">
            <h3>Number Wiki</h3>
            <form name="numberWikiForm" novalidate>
                <span class="alert-danger">{{'{{errorMessage}}'}}</span>
                <div class = "row col-sm-12 border justify-content-center align-items-center">
                    <h6 class = "col-sm-2 text-primary text-left">Input:</h6>
                    <span class = "col-sm-1"></span>
                    <input id="numberInput" class = "col-sm-3 text-primary text-right" type="number" ng-model="n" ng-init="n=24"  required>
                    <span class = "col-sm-1"></span>
                    <input type="submit" class = "col-sm-2" value="Go" ng-click="getNumberWikiData()"/>
                    <span class = "col-sm-1"></span>
                    <input id="reset" class="col-sm-2" ng-disabled="!showSystemAnswer" type="submit" value="Reset" ng-click="reset()"/>
                </div>
                <span class="col-sm-12 alert-info">{{'{{userMessage}}'}}</span><br>
                <span class = "col-sm-12"></span>
            </form>
            <div ng-show="showSystemAnswer" class = "row border justify-content-center align-items-center">
                <div class="col-sm-12">
                    <h5>Number Wiki Results:</h5>
                </div>

                <div class="col-sm-12">
                    <span class="col-sm-4 form-control text-center text-primary">Even/Odd?</span>
                    <input class="col-sm-8 form-control text-left text-primary" type="text" ng-model="number.isEven.message" ng-disabled="1">
                </div>
                <div class="col-sm-12">
                    <span class="col-sm-4 form-control text-center text-primary">Prime?</span>
                    <input class="col-sm-8 form-control text-left text-primary" type="text" ng-model="number.isPrime.result" ng-disabled="1">
                </div>
                <!-- <span ng-show="!number.isPrime.result" class="col-sm-12 alert-info">{{'{{number.isPrime.message}}'}}</span> -->
                <div class="col-sm-12">
                    <span class="col-sm-4 form-control text-center text-primary">Factors</span>
                    <input class="col-sm-8 form-control text-left text-primary" type="text" ng-model="number.getFactors.factors" ng-disabled="1">
                </div>
                <div class="col-sm-12">
                    <span class="col-sm-4 form-control text-center text-primary">Prime Factors</span>
                    <input class="col-sm-8 form-control text-left text-primary" type="text" ng-model="number.getPrimeFactors.primeFactors" ng-disabled="1">
                </div>
            </div> 
        </div>
    </div>
</div>

{% endblock %}